@font-face {
    font-family: 'montserrat';
    src: url(../font/montserratalternates-regular-webfont.woff2) format('woff2');
}

.container{
    width: 100%;
    height: 1577px;
    margin-top: 41px;;
    border-radius: 24px;
    background-color: #fff;
    position: relative;
    font-family: 'montserrat', sans-serif;
}

.profile{
    display: grid;
    height: 255px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 217px px 17px;
    justify-items: center;
    row-gap: 20px;
}

.container img{
    max-width: 217px;
    border-radius: 16px;
}

.profile b{
    font-weight: 600;
    font-size: 24px;
    line-height: 29.26px;
    color: #4e5150;
}

.profile p{
    font-weight: 600;
    font-size: 14px;
    line-height: 17.07px;
    color: #a9a9a9;
}

/* button */
.button{
    display: flex;
    flex-grow: 100px;
    justify-content: center;
}

.button .button1,
.button .button2,
.button .button3{
    width: 100px;
    height: 67px;
    padding-top: 17px;
    box-sizing: border-box;
    margin-top: 90px;
    margin-right: 10px;
    border-radius: 12px;
    background-color: #e5e5e5;
    text-align: center;
}

.button h4{
    font-weight: 600px;
    font-size: 18px;
    color: #4e5150;
}

.button h5{
    font-weight: 600px;
    font-size: 14px;
    color: #bdbdbd;
    line-height: 17.07px;
}

/* gallery */
.gallery{
    /* width: 1035px; */
    width: 75%;
    height: 900px;
    display: grid;
    grid-template-areas: 
        'img1 img2 img2'
        'img3 img3 img4'
        'img6 img5 img4';
    gap: 23px;
    margin: 80px auto;
}

.gallery .img1{
    grid-area: img1;
    background-image: url(../asset/Untitled-1.png);
    background-repeat: no-repeat;
    border-radius: 12px;
    /* background-size:contain; */
}

.gallery .img2{
    grid-area: img2;
    background-image: url(../asset/Untitled-2.png);
    background-repeat: no-repeat;
    border-radius: 12px;
}

.gallery .img3{
    grid-area: img3;
    background-image: url(../asset/Untitled-3.png);
    background-repeat: no-repeat;
    border-radius: 12px;
}

.gallery .img4{
    grid-area: img4;
    background-image: url(../asset/Untitled-4.png);
    background-repeat: no-repeat;
    border-radius: 12px;
}

.gallery .img5{
    grid-area: img5;
    background-image: url(../asset/Untitled-5.png);
    background-repeat: no-repeat;
    border-radius: 12px;
}

.gallery .img6{
    grid-area: img6;
    background-image: url(../asset/Untitled-6.png);
    background-repeat: no-repeat;
    border-radius: 12px;
}






